.navbar {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    position: fixed;
    padding: 0;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
  }
  
  .navbar a {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #111;
  }